<html>
    <head>
        <title>Welcome to Ansible</title>
    </head>

    <body>
        <h1>Welcome to Ansible</h1>

        <h2>nginx, configured by Ansible</h2>
        <p>If you can see this, Ansible jinja template successfully installed nginx.</p>

        <p>{{ ansible_managed }}</р>

    </body>

</html>